version: '3.8'

services:
  app:
    build: .
    ports:
      - "8501:8501"
    depends_on:
      - redis
      - db
    env_file:
      - .env

  redis:
    image: "redis:alpine"

  db:
    image: "timescale/timescaledb:latest-pg14"
    ports:
      - "5432:5432"
    env_file:
      - .env